body {
  font-family: "Roboto";
  padding: 1em;
  padding-top: 4em;
  max-width: 40em;
  margin: auto;
  color :rgb(59, 69, 78);
}

a {
  text-decoration: none;
  color: #ff7270;
  font-weight: 600;
  border-bottom: 0.04rem solid #ff7270;
}

a:hover {
  color: #ff7270;
  font-weight: 600;
  background-color: #fbd4d4;
  /* border-bottom: 0.0 solid #ff7270; */
}

h1 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 400;
  color: #9b9b9b;
  font-size: 1em;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.4em 0;
  margin: 0;
  border-bottom: 0.05em solid #ccc;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 600;
}

h5 {
  font-size: 1.2em;
  margin: 1em 0;
}

h6 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
p {
  max-width: 40em;
  line-height: 1.625;
  padding-top: 0;
  padding-bottom: 0.5em;
  font-weight: 400;
}

ul {
  padding-top: 0;
}

ul li {
  padding: 0.2em;
}

ul.tableOfContent {
  padding: 0;
  margin-bottom: 10em;
}

.tableOfContent li {
  list-style-type: none;
  padding: 0.5em 0;
  /* border-bottom: 0.05em solid #9b9b9b; */
}

.tableOfContent li:hover {
  //border-bottom: 0.1em solid black;
}

.tableOfContent li a {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3rem;
  color: black;
  border-bottom: none;
  font-weight: 500;
}

div.three-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.three-columns div {
  max-width: 30%;
}

div.three-columns div p {
  padding-bottom: 0;
  margin: 0;
}

span {
  font-weight: 600;
}

ul.numberedList li {
  list-style-type: decimal;
  padding: 0.5em;
}

ul.numberedList {
  padding: 0 1em;
}

pre {
  background-color: black;
}
ul li {
  padding: 0.2em;
}

img {
  width: 100%;
}